.emptywishlist img {
    position:absolute;
    width: 860px;
    height: 500px;
    
  }
/* 
  .cupcakewishlist {
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 600px;
    

  } */